*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress-bar {
  background: brown;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

#loader-line {
  stroke: #fff;
  fill: none;
  stroke-width: 3px;
  stroke-dashoffset: 400;
  stroke-dasharray: 400;
  transition: stroke-dasharray ease-in-out 0.5s;
  stroke-linecap: round;
}
