*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress-bar {
  background: brown;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

#loader-line {
  stroke: blue;
  stroke-linecap: round;
}
