*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*light*/
  --progress-container-bg-color: brown;
  --load-path: black;
  --loader: white;
  --bg-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*light*/
    --progress-container-bg-color: green;
    --load-path: red;
    --loader: blue;
    --bg-color: grey;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
}

.progress-bar {
  background: var(--progress-container-bg-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

.load {
  animation: load 1s ease-in-out infinite;
}

#path {
  stroke-width: 6px;
  stroke: var(--load-path);
  stroke-linecap: round;
}

#loader-line {
  stroke: var(--loader);
  fill: none;
  stroke-width: 6px;
  stroke-dashoffset: 400;
  stroke-dasharray: 400;
  transition: stroke-dasharray ease-in-out 0.25s;
  stroke-linecap: round;
}

@keyframes load {
  0% {
    stroke-dasharray: 198;
  }
  50% {
    stroke-dasharray: 265;
  }
  100% {
    stroke-dasharray: 198;
  }
}
